.home-container{
    margin-bottom:4rem;
    margin-left: 13rem;
    margin-right: 5rem;
    display: grid;
    gap: 1rem;
    
}
.home-module{
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 1rem;
}
h1{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
